
<div class="author">
    <h1 class="author__heading"> My name is Duhncan</h1>
    <p class="author__body"> Testing my stuff on this website</p>
</div>

<img src="/img/main-img.webp" alt="main image for main screen" class="main-img" width="980" height="500">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="articule-ul">   
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt;View Older Posts</a>
</section>